<div class="booyah-box col-xs-12 col-md-8 col-md-offset-2">
  <div class="text-center">
    <h1>Sir Ernest Shackleton</h1>
    <br>
    <h3>1874 - 1922</h3>
  </div>
<br class="clear">
  <%= image_tag 'ernest.jpeg', class: 'img-responsive center-block portrait' %>

</div>