.clear {
  clear:both;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #eee;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 200;
  letter-spacing: 2px;
}

hr {
  margin: 5px 0;
}

.title {
  padding: 10px;
  border: 2px solid #666;
}

p {
 font-size: 15px;
 line-height: 30px;
}

h6 {
  font-style: italic;
}

.booyah-box {
  background: #fff;
  padding: 25px;
  margin-top: 30px;
  box-shadow: 2px 2px 4px 0 #d0d0d0;
  border: 1px solid #bbb;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 5px;
}

.portrait,
.image {
  border: 1px solid #aaa;
  box-shadow: 0px 3px 6px #aaa;
  height: 500px;
  max-width: 660px;
}

.portrait {
  border-radius: 50%;
}

.btn-primary,
.btn-default {
  border-radius: 0;
}

.btn-primary {
  background-color: #bbb;
  border-color: #888;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #aaa;
  border-color: #888;
}

.comment-box {
  border: 1px solid #bbb;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px 0 #d0d0d0;
  border-radius: 3px;
}

.name {
  font-size: 16px;
}

.comment {
  font-size: 13px;
  text-indent: 15px;
}

.social-button {
  width: 45px;
  margin: 15px;
}

.footer-social a {
  text-decoration: none;
}